@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #355C7D;
  color: #fff;
  line-height: 1.6;
  transition: background-color 0.3s;
}

.logo {
  position: fixed;
  top: 1vh;
  left: 1vw;
  width: 5vw; 
  height: auto;
  z-index: 1001;
  border-radius: 1vh;
  background-blend-mode: multiply;
  background-color: transparent;
}

.header, nav {
  overflow: hidden;
  background-color: #6C5B7B;
  padding: 2vh 2vw;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  box-shadow: -0.4vh 0vh 0.6vh rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 2vh;
  border-top-left-radius: 2vh;
  display: inline-block;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.header a, .tablink {
  float: left;
  color: white;
  text-align: center;
  padding: 1.2vh 1.6vw;
  text-decoration: none;
  font-size: 1.8vh;
  line-height: 2.5vh;
  border-radius: 1.5vh;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.header a:hover, .tablink:hover {
  background-color: #F67280;
  color: #fff;
  transform: scale(1.05);
}

.header a.active, .tablink.active {
  background-color: #F8B195;
  color: #fff;
}

.content {
  padding: 2vh 2vw;
  transition: padding 0.3s;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.bubble {
  background-color: #6C5B7B;
  padding: 2vh 2vw;
  border-radius: 2vh;
  color: white;
  margin: 2vh 1vw;
  box-shadow: 0 0.4vh 0.8vh rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  min-width: auto;
  max-width: auto;
  height: auto;
  text-align: left;
  line-height: normal;
  cursor: default;
  display: block;
}

#bubble4 {
  background-color: #6C5B7B;
  padding: 0.5vh 0.5vw;
  border-radius: 2vh;
  color: white;
  margin: 2vh 1vw;
  box-shadow: 0 0.4vh 0.8vh rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  max-width: auto;
  height: auto;
  text-align: left;
  line-height: normal;
  cursor: default;
  display: block;
}

@keyframes slideDown {
  from {
    transform: translateY(-10vh);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.bubble:hover {
  background-color: #7E6A8A;
  box-shadow: 0 0.6vh 1.2vh rgba(0, 0, 0, 0.15);
  transform: translateY(-0.5vh);
}

.bubble-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
  flex-wrap: wrap;
}

.bubble-content {
  display: none;
  background-color: #F8B195;
  color: #5D4157;
  padding: 2vh;
  margin-top: 2vh;
  border-radius: 2vh;
  box-shadow: 0 0.4vh 0.8vh rgba(0, 0, 0, 0.1);
}

.bubble-content.active {
  display: block;
}

.ide-container {
  width: 80vw;
  min-height: 15vh;
  background-color: #e0e0e0;
  border-radius: 0.5vh;
  box-shadow: 0 0.4vh 0.8vh rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-top: 10vh;
  margin-bottom: 2vh;
  margin-left: auto;
  margin-right: auto;
}

.title-bar {
  background-color: #d0d0d0;
  padding: 1vh;
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.window-controls {
  display: flex;
  gap: 0.8vw;
}

.window-controls span {
  display: block;
  width: 1.2vw;
  height: 1.2vw;
  border-radius: 50%;
}

.window-controls .minimize {
  background-color: #ffbd44;
}

.window-controls .maximize {
  background-color: #00ca56;
}

.window-controls .close {
  background-color: #ff5f57;
}

.content {
  padding: 2vh 2vw;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh;
}

.yellow-text {
  color: #795E26;
  font-weight: bold;
}

.blue-text {
  color: #043BFB;
}

.red-text {
  color: #A31515;
}

.typewriter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 1vh;
  border-radius: 0.5vh;
  border: 1px solid #ccc;
}

.typewriter {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.typewriter .text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  color: black;
}

.typewriter .blinking-cursor {
  border-right: 0.4vh solid black;
  height: 1em;
  animation: blink-cursor 0.75s steps(1) infinite normal;
}

@keyframes blink-cursor {
  from { border-color: transparent }
  to { border-color: black }
}
/* Algorithms */
#array {
  display: flex;
  align-items: flex-end;
}

.bar {
  width: 1vw;
  margin: 0 0.2vw;
  background: #2ecc71; /* A bright green for the default state of the bars */
  transition: height 0.3s;
}

/* Highlight bars that are being compared */
.comparing {
  background-color: #e74c3c; /* A bright red for comparison, which stands out */
}

/* Highlight bars that are in their final sorted position */
.sorted {
  background-color: #3498db; /* A bright blue for sorted bars */
}

/* Style for the algorithm complexity dropdown */
#algorithmComplexity {
  padding: 1vh;
  border-radius: 0.5vh;
  border: 0.1vh solid #ddd; /* Light grey border */
  background-color: #fff; /* White background */
  color: #333; /* Darker text for better contrast */
  font-family: 'Poppins', sans-serif; /* Match the font style of the page */
  margin-bottom: 2vh; /* Spacing after the dropdown */
  cursor: pointer; /* Cursor to indicate it's clickable */
  outline: none; /* Remove the default focus outline */
}

/* Style for the array container to include visualization */
#arrayContainer {
  background-color: white; /* Assuming you want a white background */
  padding: 2vh;
  margin-top: 3vh; /* Adjust as needed for spacing */
  border: 0.1vh solid #ddd; /* Light grey border to match the dropdown */
  border-radius: 0.5vh; /* Rounded corners for the container */
}

/* CSS FOR DATA STRUCTURES */
#bubble5 {
  width: 90vw;
}

.visualization-container {
  margin-top: 2vh;
}

#visualization {
  width: 100%;
  height: 40vh; /* Adjust as needed */
  border: 0.1vh solid #000;
  position: relative;
  overflow: hidden;
  background-color: white;
}

/* Add styles for your dropdown and button */
#dataStructureSelect, #runButton {
  margin: 1vh;
  padding: 0.5vh;
  font-size: 1.6vh;
}

.elements-container {
  display: flex;
  gap: 1vw;
  margin-top: 2vh;
  padding: 1vh;
  border-radius: 0.8vh;
  background: #f5f5f5;
  box-shadow: 0 0.2vh 0.4vh rgba(0,0,0,0.2);
}

.element {
  padding: 2vh;
  border-radius: 0.4vh;
  border: 0.1vh solid #e1e1e1;
  transition: all 0.5s ease-in-out;
  background-color: #043BFB;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.1vh 0.3vh rgba(0,0,0,0.12), 0 0.1vh 0.2vh rgba(0,0,0,0.24);
}

/* Styles for array and linked list to display in a row */
.elements-container.array, .elements-container.linkedlist, .elements-container.queue {
  flex-direction: row;
  align-items: center; /* Align items vertically */
  justify-content: start; /* Align items to the start of the container */
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

/* Additional styles for linked list to indicate connections */
.elements-container.linkedlist .element:not(:last-child):after {
  content: '→';
  margin-left: 1vw;
  color: white;
  font-weight: normal;
}

/* Styles for stack to display in a column and add to the top */
.elements-container.stack {
  flex-direction: column; /* Stack elements from top to bottom */
  align-items: center; /* Center stack elements */
}

/* Styles for queue to display in a row and add to the end */
.elements-container.queue {
  justify-content: start; /* Align queue elements to the start */
}

/* Highlighting new element */
.new-element {
  background-color: #d7b50b;
  position: relative;
  z-index: 10; /* Ensure new element is on top of others */
}

/* Adjustments for better visibility on smaller screens */
@media (max-width: 768px) {
  .elements-container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .elements-container.array, .elements-container.linkedlist, .elements-container.queue {
    flex-direction: column-reverse;
  }
}

#numElements {
  width: 10vw;
  height: 2.5vh;
}

#bubble6 {
  width: 90vw;
}

.bubble#bubble6 .pros-cons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2vh;
}

.bubble#bubble6 .pros, .bubble#bubble6 .cons {
  width: 48%; /* Each column takes up less than half the container width */
}

.bubble#bubble6 .pros h3, .bubble#bubble6 .cons h3 {
  text-align: center;
  background-color: #1d1d1d;
  padding: 1vh;
  border-radius: 0.4vh;
}

.bubble#bubble6 ul {
  list-style-type: none;
  padding: 0;
}

.bubble#bubble6 li {
  background-color: #655e5e;
  margin-bottom: 1vh;
  padding: 1vh;
  border-radius: 0.4vh;
  box-shadow: 0 0.2vh 0.4vh rgba(0,0,0,0.1);
}

/* CSS FOR SDLC */
/* Style for the arrow buttons */
.arrow-container {
  display: flex;
  justify-content: space-between;
  margin: 2vh 0;
}

.arrow {
  background-color: #F67280;
  color: #fff;
  border: none;
  border-radius: 0.5vh;
  padding: 1vh 1.5vw;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.arrow:hover {
  background-color: #E95666;
}

/* Bitwise */
#calculator {
  margin: auto;
  width: 50vw;
  padding: 2vh;
  border: 0.1vh solid #ccc;
  border-radius: 0.5vh;
  text-align: center;
  background-color: #355C7D;
}

input[type="number"] {
  width: 80%;
  padding: 1vh;
  margin: 1vh 0;
  border-radius: 0.4vh;
  border: 0.1vh solid #ccc;
}

button {
  padding: 1vh 1.5vw;
  margin: 1vh 0.5vw;
  border-radius: 0.4vh;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #f0f0f0;
}

#result {
  margin-top: 2vh;
  font-size: 2vh;
}
